.MovieInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.MovieInfo img {
    margin-top: 10px;
    border-radius: 25px;
    box-shadow: #1c1b1b 10px 10px 10px;
}

.MovieInfo p{
    width: 35%;
    font-size: 20px;
}

.MovieInfo b {
    margin-left: 40px;
    font-size: 20px;
}

h1 {
    text-shadow: red 1px 1px 1px;
}

.GenreMovie{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 10vw;
}

.GenreMovie b{
    margin-top: 0;
    text-align: center;
}
