.MoviesList {
    display: flex;
    flex-flow: row wrap;
}

.Button {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.Button button{
    border-radius: 25px;
    width: 70px;
    transition: .3s;
    font-size: 15px;
}

.Button span{
    margin: 0 10px 0 10px;
}

.Button button:hover{
    width: 80px;
    transition: .3s;
}