.Search{
    width: calc(20% - 2px);
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    box-shadow: #595858 5px 5px 5px;
    border-radius: 25px;
}

.Search  img{
    width: 15vw;
    border-radius: 25px;
}

.Search p {
    text-align: center;
}
.Search h3{
    text-align: center;
}

.rating {
    display: flex;
    margin-top: 10px;
}